# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.lock.hcl

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files by default, except *.auto.tfvars for non-sensitive data
*.tfvars
!*.auto.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Exception: Keep example files
!*.example

# Ignore CLI configuration files
.terraformrc
terraform.rc
